fastapi==0.115.13
uvicorn[standard]==0.34.3
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic-settings==2.10.1
aiofiles==24.1.0
langchain==0.3.26
PyMuPDF==1.26.3
langchain-community==0.3.27
motor==3.7.1
openai==1.100.2
cohere==5.17.0
qdrant-client==1.15.1
SQLAlchemy==2.0.43
asyncpg==0.30.0
alembic==1.16.5
psycopg2==2.9.10
pgvector==0.4.1
nltk==3.9.1
